<div class="user_box">
  <h1>Trill People</h1>
    <h2>Users online!</h2>
      <% @users.each do |user| %>
        <div class="user">
          <%= image_tag user.profile_picture_url, class: "mini" %><br>
          <%= link_to user.name, user %><br>
        </div>
      <% end %>
</div>

<div class="user_link">
  <%= link_to 'Create a New User', new_user_path %> |
  <%= link_to 'Games', games_path %>
</div>
