// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game_wrap{
  width:500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.2rem;
  overflow: hidden;
  height: 500px;
}

.fa{  
  margin:0;
  padding:  2px;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  color:black;
}

.fa:hover{
  color:red;
  background-color: none;
}

.fa:visited{
  color:green;
}

a{
  text-decoration: none;
  color:black;
}

.fa-asterisk{
  color: white;
}