// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
 /* box-sizing:border-box;*/
  font-family: 'Lato', sans-serif;
}

body{
  padding-bottom: 50px;
}

header .tic-tac{
  font-family: 'Medula One', cursive;
  font-size: 4em;
}

header .trill{
  font-family: 'Sacramento', cursive;
  font-size: 4em;
  color:rgba(255, 108, 0, 1.0);
  -webkit-transition: text-shadow 0.2s linear;
}

header .trill:hover{
  text-shadow: 0 0 30px white;
}

header .title{
  text-align: center;
  background-color: rgba(132, 216, 220, 0.7);
  height:150px;
  vertical-align: bottom;
  padding-top:105px;
} 

header a{
  margin:0 2% 0 2%;
}

.flash-message{
  color: rgba(255, 108, 0, 1.0);
}

footer {
  position:fixed;
  bottom:0;
  background-color: white;
  border-top: solid 4px rgba(255, 108, 0, 1.0);
  text-align: center;
  width: 100%;
}

footer p{
  width:100%;
  margin-left: -20px;
}

nav p{
  display:inline-block;
  width: 25%;
  text-align: center;
}

.content p{
  display: inline-block;
  width:25%;
}

b{ 
  font-weight: bolder;
}

h1{
  font-family: 'Medula One', cursive;
  font-size: 4em;
}

h2{
  margin: 5px 0;
  color:rgba(255, 108, 0, 1.0);
}

.content{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1%;
  margin-bottom: 50px;
}

.game_wrap{
  width:480px;
  margin-left: auto;
  margin-right: 15%;
  font-size: 2.2rem;
  overflow: hidden;
  height: 480px;
  position:absolute;
  left:35%;
  top:600px;
}

.fa{  
  margin:0;
  padding:  2px;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  color:black;
}

.fa:hover{
  color:rgba(255, 157, 73, 1.0);
  background-color: none;
}

.fa:visited{
  color:green;
}

a{
  text-decoration: none;
  color:black;
  font-family: 'Warnes', cursive;
  display:inline-block;
}

a:hover{
  color:rgba(255, 108, 0, 1.0);
}

.fa-asterisk{
  color: white;
}

input{
  border-radius: 20px;
  border:1px solid rgba(255, 157, 73, 1.0);
  padding:5px;
  background: none;
}

textarea{
border-radius: 20px;
border:1px solid rgba(255, 157, 73, 1.0);
padding:5px;
}

#user_profile_picture input{
  border:1px solid rgba(255, 157, 73, 1.0);
  background-color:white;
}

.actions input{
  color:rgba(255, 108, 0, 1.0);
  background:rgba(255, 157, 73, 0.5);
}

img.mini{
  width:20%;
  border-radius:20px;
/*  margin:2% 0 2% 0;*/
  border:2px solid rgba(255, 157, 73, 1.0);
}

/*img{
  width:50%;
}*/